# TLS/HTTPS settings
# Copy this file to .env and fill with real values
JHIPSTER_HTTPS_KEY_STORE_PASSWORD=CHANGE_ME
JHIPSTER_HTTPS_KEY_ALIAS=great-erp

# Production database settings
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:55432/great-erp
SPRING_DATASOURCE_USERNAME=great-erp
SPRING_DATASOURCE_PASSWORD=great-erp

# Redis cache settings
JHIPSTER_CACHE_REDIS_SERVER=redis://:great-erp@localhost:56379

# Host/base URL settings
SPRING_MAIL_HOST=localhost
JHIPSTER_MAIL_BASE_URL=http://localhost:8080

# JWT settings
# openssl rand -base64 64
JHIPSTER_SECURITY_AUTHENTICATION_JWT_BASE64_SECRET=XlzxQLTURd35A8dXI/Nn/FjznAvhFVG52iEifzY2aV1uj4PkTUbtaMB+WoqaIiignkU+yGcZqmKMGxw06prUTg==

# Elasticsearch settings
ELASTICSEARCH_HOST=localhost:9200

# Kafka settings
KAFKA_BROKERS=localhost:9092